



<%=render 'head' %>
<div class="container fluid-height clearfix">
  <h2 class="heading" style="margin-top: 15px;">订单明细</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>订单号</th>
        <th>产品名</th>
        <th>数量</th>
        <th>操作</th>
      </tr>
      </thead>
      <% @orderdetails.each do |orderdetail| %>
          <tr>
            <td width="30px"><i class="icon-user"></i></td>
            <td><%= orderdetail.order_id %></td>

            <% @product=@products.find_by_id(orderdetail.product_id) rescue nil %>
            <% if @product %>
                <td class="hidden-xs"><%= @product.name %></td>
            <% else %>
                <td class="hidden-xs">&nbsp;</td>
            <% end %>
            <td><%= orderdetail.num %></td>
            <td width="100px" align="center"><%= link_to "", orderdetail,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', orderdetail, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>
    </table>
    <br>
    <%= link_to '添加订单', new_orderdetail_path %>
  </div>
</div>

