<script type="text/javascript" language="javascript">
    function readURL(input,imgid) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.'+imgid)
                        .attr('src', e.target.result)
                //.width(300)
                //.height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


</script>


<%= form_for :seller , url: sellers_path do |f| %>

    <h2>新建商家</h2>
    <div class="field">
      <%= f.label :分类ID %><br>
      <%= f.text_field :cla_id %>
    </div>
    <div class="field">
      <%= f.label :登录名 %><br>
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :密码 %><br>
      <%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.label :确认密码  %><br>
      <%= f.text_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :名称 %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :logo %><br>
      <%= f.file_field :logo ,:onchange => "readURL(this,'img1')" %>
      <%if !@seller.logo %>
          <img style="margin-left: 110px" class="img1" width="200px" height="150px"  src=<%= @seller.logo.url%> />
      <%else%>
          <img style="margin-left: 110px" class="img1" width="200px" height="150px"  src=<%=image_path('noimage.png')%> />
      <%end%>

    </div>
    <div class="field">
      <%= f.label :地址 %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :位置 %><br>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :概要 %><br>
      <%= f.text_field :summary %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>

<%end%>
