

<%=render 'head' %>
<div class="container fluid-height clearfix">
  <h2 class="heading" style="margin-top: 15px;">用户设置</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th >用户微信号</th>
        <th >位置</th>
        <th >电话</th>
        <th >操作</th>
      </tr>
      </thead>
      <% @users.each do |user| %>
          <tr>
            <td width="30px"><i class="heading icon-user"></i></td>
            <td><%= user.wechat %></td>
            <td><%= user.location %></td>
            <td><%= user.tel %></td>
            <td width="100px" align="center"><%= link_to "", user,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '', user, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>
    </table>
    <br>
  </div>
</div>


