<p id="notice"><%= notice %></p>

<p>
  <strong>用户微信号:</strong>
  <%= @user.wechat %>
</p>
<p>
  <strong>位置:</strong>
  <%= @user.location %>
</p>
<p>
  <strong>电话:</strong>
  <%= @user.tel %>
</p>

<%= link_to 'Back', users_path %>
