

<%=render 'head' %>
<div class="container fluid-height clearfix">
  <h2 class="heading" style="margin-top: 15px;">派送员列表</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>派送员姓名</th>
        <th>登录名</th>
        <th>密码</th>
        <th>操作</th>
      </tr>
      </thead>
      <% @sends.each do |send| %>
          <tr>
            <td width="30px"><i class="icon-user"></i></td>
            <td><%= send.name %></td>
            <td><%= send.login %></td>
            <td>********</td>
            <td width="100px" align="center"><%= link_to "",send,  class:"icon-pencil usricons", title: "编辑" %>&nbsp;&nbsp;
              <%= link_to '',send, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>
    </table>
    <br>
    <%= link_to '新建派送员', new_send_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>

