<div class="container-fluid main-content">
    <div class="row">

      <div class="col-md-6">


        <div style="padding:5px;"></div>
        <div class="row">
          <div class="clearfix">
            <div class="col-lg-12">
              <div class="widget-container fluid-height">
                <div class="heading">
                  <i class="icon-question"></i>Tooltip
                </div>
                <div class="widget-content padded text-center">
                  <%=@seller.address%>
                  <br />
                  <%=@seller.location%>
                  <br />
                  <%=@seller.summary%>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div style="padding:5px;"></div>
        <div class="row">
          <div class="col-lg-12">
            <div class="fluid-height">
              <%= form_tag destroy_multiple_admins_path, method: :delete do %>
              <% @products.each do |product| %>
              <div class="col-md-12 padded widget-container fluid-height" style="margin-top:-18px;">
                <div style="padding:0 10px 0 0;">
                  <label class="checkbox-inline"><%= check_box_tag 'products[]',product.id%><span></span><%=product.name%></label><p class="pull-right" style="margin-top:8px;">$<%=product.price.to_f%>0</p>
                </div>
              </div>
                  <%end%>
            </div>
          </div>
        </div>

        <div class="col-md-12 padded widget-container fluid-height navbar-fixed-bottom text-center" style="margin-bottom:0px;padding-top:5px;padding-bottom:0px;">
          <%= submit_tag "订单预览" ,class:"btn btn-lg btn-block btn-primary" ,style:"margin-bottom:5px;"%>
        </div>
<%end%>

      </div>

    </div>
  </div>
</div>
</body>

</html>