
<%=render 'head' %>

<div class="container fluid-height clearfix">

  <h2 class="heading" style="margin-top: 15px;">产品列表</h2>
  <div class="widget-container fluid-height clearfix">
    <table class="table table-hover table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th >商家名</th>
        <th>单位名</th>
        <th>产品名称</th>
        <th>产品价格</th>
        <th>产品图片</th>
        <th>状态</th>
        <th>数量</th>
        <th>操作</th>
      </tr>
      </thead>


      <% @products.each do |product| %>
          <tr>
            <td width="30px"><i class="icon-th-list"></i></td>
            <% @seller=@sellers.find_by_id(product.seller_id) rescue nil %>
            <% if @seller %>
                <td class="hidden-xs"><%= @seller.name %></td>
            <% else %>
                <td class="hidden-xs">&nbsp;</td>
            <% end %>

            <% @unit=@units.find_by_id(product.unit_id) rescue nil %>
            <% if @unit %>
                <td class="hidden-xs"><%= @unit.name %></td>
            <% else %>
                <td class="hidden-xs">&nbsp;</td>
            <% end %>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= image_tag product.avatar.url,width:'20%' %></td>
            <td><%= product.status %></td>
            <td><%= product.num %></td>
            <td width="100px" align="center"><%= link_to "", edit_product_path(product),  class:"icon-pencil usricons", title: "编辑",'data-no-turbolink'=>true %>&nbsp;&nbsp;
              <%= link_to '', product, method: :delete, data: { confirm: '确认删除？' },class:"icon-trash usricons", title:"删除" %></td>
          </tr>
      <% end %>

    </table>

    <br>



    <%= link_to ' 新建产品', new_product_path, class: "icon-plus btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
  </div>
</div>

